.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
  background-color: #cbd5e1;
  width: 100%;
}

.footer {
  color: #475569;
  font-size: 20px;
  font-weight: 500;
}
